In [113]:
import pandas as pd 
df = pd.read_csv('data.csv')

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 478985 entries, 1 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    478985 non-null  int64
 1   StockCode    478985 non-null  object
 2   Description  477941 non-null  object
 3   Quantity     478985 non-null  int64
 4   InvoiceDate  478985 non-null  object
 5   UnitPrice    478985 non-null  float64
 6   CustomerID   363119 non-null  float64
 7   Country      478985 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 32.9+ MB

In [ ]:
df.count()

In [124]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1,100201,AB92451,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,100201,AB44150,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,100201,AB43128,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,100202,AB44031,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,100202,AB44030,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom

In [ ]:
df.tail()

In [ ]:
#logic for changing invoice number

In [128]:
len(df['Description'].unique())

3215

In [ ]:
top20 = df['InvoiceNo'].unique()[:20]

In [ ]:
top20

In [114]:
df = df[~df.InvoiceNo.str.startswith('C')]
df = df[~df.InvoiceNo.str.startswith('A')]

In [ ]:
df.count()

In [71]:
df['InvoiceNo'].min()

100201

In [115]:
df.InvoiceNo = pd.to_numeric(df.InvoiceNo, errors='coerce')

In [116]:
df['InvoiceNo'] = df['InvoiceNo'] - 436164

In [ ]:
df.StockCode = pd.to_numeric(df.StockCode, errors='coerce')
df = df[df['StockCode'].notna()]
df['StockCode'] = df['StockCode'].astype(int)
df['StockCode'] = df['StockCode'] + 21398

In [123]:
df['StockCode'] = df['StockCode'].apply(str)
df['StockCode'] = 'AB' + df['StockCode']

In [122]:
df.StockCode.max()

111606

In [125]:
df.to_csv('DataMining.csv')

In [130]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1,100201,AB92451,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,100201,AB44150,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,100201,AB43128,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,100202,AB44031,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,100202,AB44030,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,145423,AB44011,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,145423,AB44297,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,145423,AB44652,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,145423,AB44653,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,145423,AB43536,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [133]:
new_df = df.groupby('Description').apply(lambda x: x.sample(n=10)).reset_index(drop = False)

ValueError: Cannot take a larger sample than population when 'replace=False'